In [1]:
# Q31
def func31():
    result = {}
    for n in range(1, 21):
        result[n] = n**2
    return result

In [2]:
func31()

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [3]:
# Q32
def func32():
    result = func31()
    for key in result.keys():
        print(key)

In [4]:
func32()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [5]:
# Q33
def func33():
    return [x**2 for x in range(1, 21)]

In [6]:
func33()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [7]:
# Q34
def func34():
    result = func33()
    return result[:5]

In [9]:
func34()

[1, 4, 9, 16, 25]

In [10]:
# Q35
def func35():
    result = func33()
    return result[-5:]

In [11]:
func35()

[256, 289, 324, 361, 400]

In [13]:
# Q36
def func36():
    result = func33()
    return result[5:]

In [14]:
func36()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [17]:
# Q37
def func37():
    result = []
    for n in range(1, 21):
        result.append(n**2)
    return tuple(result)

In [18]:
func37()

(1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400)

In [19]:
# ここまで2時間20分